homeassistant:
  auth_providers:
    - type: homeassistant
    - type: legacy_api_password
      api_password: !secret http_password
  packages: !include_dir_named packages
  name: Home
  latitude: !secret lat
  longitude: !secret long
  elevation: 1556
  unit_system: imperial
  time_zone: America/Denver
  customize: !include customize.yaml
# http:
#   ssl_certificate: /ssl/fullchain.pem
#   ssl_key: /ssl/privkey.pem
default_config:
zone: !include zones.yaml
shelly:
breaking_changes:
ffmpeg:
frontend:
  themes: !include_dir_merge_named themes/
updater:
discovery:
conversation:
history:
logbook:
logger:
  default: info
sun:
scene: !include scenes.yaml
sensor:
- platform: moon              
- platform: socialblade
  channel_id: !secret socialblade
- platform: yr
  monitored_conditions:
    - temperature
    - symbol
- platform: time_date
  display_options:
binary_sensor:
stream:
script: !include scripts.yaml
cloud:
config:
config_check:
system_health:
downloader:
  download_dir: downloads