esphome:
  name: main_bathroom
  platform: ESP8266
  board: esp01_1m

wifi:
  ssid: DrZzs-NoT-main
  password: !secret NoT
  manual_ip:
    static_ip: 192.168.1.163
    gateway: 192.168.1.1
    subnet: 255.255.255.0
  ap:
    ssid: main_bathroom
    password: "12345678"
web_server:
  port: 80
captive_portal: 

# Enable logging
logger:

# Enable Home Assistant API
api:

ota:

switch:
- platform: gpio
  name: "Main Bathroom Fan"
  pin: GPIO5
  id: relay_2
- platform: gpio
  name: "Main Bathroom Light"
  pin: GPIO4
  id: relay_1

binary_sensor:
- platform: gpio
  pin:
    number: GPIO12
    mode: INPUT_PULLUP
    inverted: True
  name: "Main Bathroom Light Button"
  on_press:
    - switch.toggle: relay_1
- platform: gpio
  pin:
    number: GPIO13
    mode: INPUT_PULLUP
    inverted: True
  name: "Main Bathroom Fan Button"
  on_press:
    - switch.toggle: relay_2
    
- platform: gpio
  pin: GPIO02 #D4
  name: "Main Bathroom Motion"
  device_class: motion
  on_press:
    then:
      - switch.turn_on: relay_1
dallas:
- pin: GPIO16
  id: main_bath_temp

sensor:
  - platform: wifi_signal
    name: "Main Bath WiFi Strength"
    update_interval: 300s

  - platform: uptime
    name: Main Bath Uptime
    
  - platform: dallas
    address: 0x070218313278FF28
    name: Main Bathroom Temp

