esphome:
  name: salt_level
  platform: ESP8266
  board: d1_mini

wifi:
  ssid: DrZzs-NoT
  password: !secret NoT
  manual_ip:
    static_ip: 192.168.1.164
    gateway: 192.168.1.1
    subnet: 255.255.255.0
  ap:
    ssid: salt_level
    password: "12345678"
web_server:
  port: 80
captive_portal: 

# Enable logging
logger:

# Enable Home Assistant API
api:

ota:

sensor:
  - platform: ultrasonic
    trigger_pin: D1
    echo_pin: D2
    name: "Salt Level"
    update_interval: 6h
  #  id: salt_level
    filters:
      - filter_out: nan